<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/">About</a></li>
            <li><a href="/">ContactUs</a></li>
        </ul>
    </nav>
 <form>
   <input type="text" name="name" id="my_name" placeholder="Name"> </input>
   <input type="email" name="email" id="my_email" placeholder="Email"> </input>
   <input type="number" name="age" id="my_age" placeholder="Age"> </input>
   <input type="text" name="gender" id="my_gender" placeholder="Gender"> </input>
   <textarea name="address" id="my_address" placeholder="address" cols=30 rows=20></textarea>
 </form>
</body>
</html>